#root {
  background-color: #1a1c21;
  color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.navbar{
  background-color: black !important;
}

.navbar-brand img{
  height: 5rem;
  width: 5rem;
  margin-left: 10px;
}

.navbar .nav-link{
  font-weight: bold !important;
  color: white  !important;
}

.navbar .nav-link:hover{
  color: grey !important;
}

.navbar-toggler{
  font-size: 2rem;
}

.dropdown-menu{
  max-height: 50vh;
  overflow-y: scroll;
}

.dropdown-menu img{
  width: 100%;
  max-height: 5vh;
}

#panier_dropdown_prix_total, #panier_dropdown_toptext{
  font-weight: bold
}

#products-content{
  background-color: #1a1c21 !important;
}

.products-filters-container{
  background-color: #1a1c21;
  padding-bottom: 5vh;
}

.products-list-container{
  background-color: #282c34;
  padding-bottom: 5vh;
}

.products-list-container .spinner-border{
  height: 10rem !important;
  width: 10rem !important;
  margin-top: 50vh;
  margin-bottom: 50vh;
}

.product-card{
  color: black;
  margin-top: 5vh;
}

.product-card .card-text{
  font-size: 1.5rem !important;
}