#root {
  background-color: #1a1c21;
  color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.navbar{
  background-color: black !important;
}

.navbar-brand img{
  height: 5rem;
  width: 5rem;
  margin-left: 10px;
}

.navbar .nav-link{
  font-weight: bold !important;
  color: white  !important;
}

.navbar .nav-link:hover{
  color: grey !important;
}

.navbar-toggler{
  font-size: 2rem;
}

.dropdown-menu{
  max-height: 50vh;
  overflow-y: scroll;
  text-align: center !important;
}

.dropdown-menu img{
  width: 100%;
  max-height: 10vh;
}

#panier_dropdown_prix_total, #panier_dropdown_toptext{
  font-weight: bold
}

.footer-container{
  background-color: black;
}

.footer-container p{
  font-size: 1rem;
  text-align: center;
}

.footer-container h2{
  text-align: center;
  font-size: 1.5rem;
}

.carousel_container{
  background-color: #282c34;
}

.carousel_container .slide{
  padding-bottom: 5vh;
}

.accueil_subtitle{
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.carousel-item{
  text-align: center;
}

.carousel-item .product-card{
  margin-top: 0px;
  text-align: start;
  margin-bottom: 3vh;
}

#products-content{
  background-color: #1a1c21 !important;
}

.products-filters-container{
  background-color: #1a1c21;
  padding-bottom: 5vh;
  text-align: center;
}

.products-filters-container h2{
  font-weight: bold;
  margin-top: 3vh;
}
.products-filters-container .btn{
  font-weight: bold !important;
  font-size: 2rem;
  margin-top: 2vh;
}

.products-list-container{
  background-color: #282c34;
  padding-bottom: 5vh;
}

.products-list-container .spinner-border{
  height: 10rem !important;
  width: 10rem !important;
  margin-top: 50vh;
  margin-bottom: 50vh;
}

.info-card{
  color: black;
  margin-top: 5vh;
  text-align: center;
}

.info-card .card-text{
  font-size: 1.5rem !important;
}

.info-card .card-img-top{
  max-height: 25vh;
}

.info-card .marque-text .card-title{
  font-size: 2.5rem !important
}

.product-details-container{
  background-color: #282c34;
  margin-top: 5vh !important;
}

.product-details-title{
  font-size: 4rem;
  text-align: center;
}

.product-details-infos{
  font-size: 3rem;
  margin-top: 2vh;
  text-align: center;
}

.images-carousel{
  padding-bottom: 5vh;
}

.images-carousel img{
  max-height: 50vh;
  max-width: 30vw;
}

.product-details-description{
  font-size: 20px;
}

.details-add-button{
  margin-top: 10vh !important;
  margin-bottom: 5vh !important;
  height: 10vh;
  width: 15vw !important;
}

.commande-articles-container, .commande-form-container{
  text-align: center;
  padding-bottom: 5vh;
}

.commande-article-text{
  text-align: center;
  font-size: 1.5rem;
  color: white !important;
}

.commande-article-img{
  max-height: 30vh;
}

.commande-title{
  font-size: 3rem;
  margin-top: 10vh;
}

.empty-commande-text{
  font-size: 5rem;
  text-align: center;
  color: red;
  margin-top: 50vh;
  margin-bottom: 50vh;
}

.commande-content-container form{
  margin-top: 5vh;
}

.form-input{
  text-align: start !important;
  margin-bottom: 4vh;
}

@media screen and (max-width: 992px){

  .images-carousel{
    margin-top: 5vh;
  }

  .images-carousel img{
    max-width: 65vw;
  }

  .details-add-button{
    width: 50vw !important;
  }
}